Repository bitcoin-core/HWI, pull requests merged in 2021-03, with the labels that each got.

#473 ledger: ensure only Bitcoin and Bitcoin Test apps are active
  hwilib/devices/btchip/btchip.py
  hwilib/devices/ledger.py
Labels: ledger nano s & x

#479 bitbox02: fix singlesig signing regression
  hwilib/devices/bitbox02.py
Labels: bitbox02, bug

#481 Handle PassphraseRequest after sending pin
  hwilib/devices/trezor.py
  test/test_trezor.py
Labels: trezor one
